* {
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
    width: 539px;
    height: 539px;
    display: grid;
}

.square {
    /* width: 180px; */
    /* height: 360px; */
    border: 1px solid blue;
    margin-left: -1px;
    margin-top: -1px;
}

.buttonContainer {
    width: 539px;
    display: flex;
    margin: auto;
    padding: 25px;
    padding-bottom: 5px;
    justify-content: space-between;
}

.bottomContents {
    width: 539px;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
}

button {
    background-color: white;
    color: blue;
    border: 2px solid blue;
    font-size: 16px;
    text-align: center;
    padding: 15px 32px;
}

.bottomContents > p {
    text-align: center;
}

.creator {
    text-align: center;
    margin-top: 50px;
}

.hover {
    background-color: blue;
    color: white;
}